

.section-wrapper {
    border: 2px solid rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3), 0 0 30px rgba(0, 255, 255, 0.2);
    padding: 20px;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    align-items: center;
    backdrop-filter: blur(3px);
    justify-content: center;

}



.about-container
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*margin: 20px; margin-top: 10%;*/
    backdrop-filter: blur(3px);
    margin-left: 1%;
    margin-bottom: 20px; 
    align-items: center;
}

.about-container img {

    border-radius: 20px;
    align-self: center;
  }

.p-summary
{
    text-align: center;
}
.group-container-wrapper {
    border: 2px solid rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3), 0 0 30px rgba(0, 255, 255, 0.2);
    padding: 20px;
    margin: 20px;
    backdrop-filter: blur(3px);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
}



@media (max-width:900px)
{
    .section-wrapper {
        border: 2px solid rgba(0, 255, 255, 0.4);
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.3), 0 0 30px rgba(0, 255, 255, 0.2);
        padding: 20px;
        margin: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 100px;
        
        backdrop-filter: blur(3px);
    }
    

}
